<html>
  <head>
    <title>OAuth2.0 - Homepage</title>
  </head>
  <style>
    body {
      background-color: lightcyan;
      font-family: Helvetica;
    }

    div {
      background-color: cornflowerblue;
    }

    li {
      list-style: none;
      font-size: large;
    }

    a {
      text-decoration: none;
    }
  </style>
  <body>
    <nav>
      <ul>
        <li><a href="/auth/login">Login</a></li>
      </ul>
    </nav>
    <div>
      <h1>Homepage</h1>
      <p>Home page for your website</p>
    </div>
  </body>
</html>
