<html>
  <head>
    <title>Login</title>
  </head>
  <style>
    a {
      text-decoration: none;
      padding: 1rem 1.5rem;
      background-color: lightcoral;
      color: white;
    }
  </style>
  <body>
    <h1>Login options</h1>
    <a href="/auth/google">Google</a>
  </body>
</html>
